<!-- modals.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="modals">
<!-- Login Modal -->
<div id="login-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <form id="login-form">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />
            <button type="submit">Log In</button>
        </form>
    </div>
</div>

<!-- Sign-Up Modal -->
<div id="signup-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <form id="signup-form">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <input type="text" name="name" placeholder="Name" required />
            <input type="email" name="userEmail" placeholder="Email" required />
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
</div>
</body>
</html>
